*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;

}
.bodySobre {
    width: 100vw;
    height: 100vh;
    background-image: url(img/imgParaFundo.jpg);
    background-color: #00000055;
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    display: block;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
    color: white;

}
header {
    background-color: #000000AA;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}
.logo img {
    width: 140px;
}

.links > ul {
    display: flex;
    gap: 20px;
    color: white;
    list-style-type: none;
}  
.links a {
    text-decoration: none;
    font-size: 20px;
    transition: all 1s;
    user-select: none;
    color: white;
}
.links a:hover {
    color: red;
}
.main {
    flex-grow: 1;
}
.h4Sobre {
    padding: 5vh 10vw;
    flex-grow: 1;
    background-repeat: no-repeat;
}
.h3Sobre {
    padding: 5vh 10vw;
    flex-grow: 1;
    background-repeat: no-repeat;
}
.h2Sobre {
    padding: 0vh 10vw;
    font-size: 30px;
}
.h1Sobre {
    padding: 0vh 10vw;
    font-size: 20px;
}
.information {
    padding: 0vh 10vw;
    font-size: 25px;
    font-weight: 200;
    max-width: 650px;
}

footer {
    text-align: center;
    height: 40px;
}
